body{
    margin: 0px;
    background-color: #B0C3E1;
    text-align: center;
    display: grid;
}

.nav-container{
    height: 75px;
    width: 1fr;
    background: black;
    text-align: left;
    display:flex;
}

.logo{
    width:55px;
    height:55px;
    border-width: 50%;
    margin-top:10px;
    margin-left:10px;
}

.title{
    color:white;
    margin-top: 25px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-text{
    color:white;
}

ul {
    background-color: black;
    text-align: center;
    overflow: hidden;
    list-style-type: none;
    margin-top: 0%;
    margin-left: 65%;
    padding: 0;
    display: flex;
    float: right;
    height: 75px;
}

a{
    background-color: black;
    text-align: center;
    margin-top: 27px;
    margin-left: 25px;
    margin-right: 25px;
    height: 55px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    transition-duration: 0.2s;
    border:black;
    text-decoration: none;
}

.main-content{
    margin: auto;
    background-color: #74A6E1;
    height: 1150px;
    width: 50%;
    margin-top: 100px;
}

.title-content{
    width: 50%;
    height: 100px;
    text-align: left;
    margin-top: 50px;
    margin-left: 75px;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 250%;
    font-weight: bold;
}

.title-body{
    margin: auto;
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
}

.extension{
    height: 100px;
}   

.lesson{
    height: 200px;
    width: 100%;  
    margin-top: 0px;
}

.text1{
    text-align: center;
    margin-left: 0px;
    width: 50%;
    height: 35px;
    color: black;
    font-size: 175%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 0.5s;
}

.text1:hover{
    color: rgb(255, 255, 255);
}