body{
    margin: 0px;
    background-color: #B0C3E1;
    text-align: center;
    display: grid;
}

.nav-container{
    height: 75px;
    width: 1fr;
    background: black;
    text-align: left;
    display:flex;
}

.logo{
    width:55px;
    height:55px;
    border-width: 50%;
    margin-top:10px;
    margin-left:10px;
}

.title{
    color:white;
    margin-top: 25px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-text{
    color:white;
}

ul {
    background-color: black;
    text-align: center;
    overflow: hidden;
    list-style-type: none;
    margin-top: 0%;
    margin-left: 65%;
    padding: 0;
    display: flex;
    float: right;
    height: 75px;
}

button{
    background-color: black;
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    height: 55px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    transition-duration: 0.2s;
    border:black;
}

button:hover{
    background-color:#333333;
}

.main-content{
    margin: auto;
    background-color: #74A6E1;
    height: 1250px;
    width: 50%;
    margin-top: 100px;
}

.title-content{
    margin-left: 0%;
}

.title-body{
    margin: auto;
    width: 50%;
    font-size: xx-large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
}

.extension{
    height: 100px;
}
